<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}} page</title>
  </head>
  <body bgcolor='teal'>
    {{>header}}
    <pre> you are {{title}}</pre>
    <<h1>Yes you are {{title}}</h1>
    <footer>
      <p> Copyright {{date}}
    </footer>
  </body>
</html>
